# === Node.js ===
node_modules/
.env
package-lock.json

# === Python files in AI folder ===
AI/__pycache__/
AI/myenv/
AI/*.pkl
AI/*.csv
AI/*.zip
AI/*.ipynb_checkpoints/

# === General ===
uploads/
temp/
*.log
*.bak

# === System ===
.DS_Store
Thumbs.db

# === VS Code ===
.vscode/
